body {
    font-family: Times New Roman;
    margin-left: 100px;
    margin-right: 200px;
}

header {
  text-align: center;
  padding: 20px;
  font-family: Times New Roman;
  font-size: 35px;
}

p, ul, h4, h2, h3 {
  font-family: Times New Roman;
  font-size: 20px;
  margin: 0;
}

h1 {
    text-align: center;
    border: 3px solid green;
}

h1:hover {
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 8px;
}

img:hover{
    border: 3px solid green;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

ol {
  padding: 20px;
}

ul {
  padding: 20px;
}

ol li {
  background: white;
  margin: 5px;
  background-color: white;

}

ul li:not(.LINKS) {
  margin: 5px;
  background-color: white;

}

main {
  font-family: verdana;
  font-size: 20px;
}

